@layer mantine, mantine-datatable;
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.plyr {
  height: 100%;
  max-height: 100%;
  --plyr-color-main: #6d28d9;
}

media-community-skin[data-video] {
  /* remove the gray overlay when mousing over video */
  --video-scrim-bg: none;
}
