.eventBar {
    display: flex;
    flex-direction: row;

    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    width: 100%;
}
.floatRight {
    margin-left: auto;
}
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}