
.mediaPlayer {
  height: calc(100vh - 60px - 60px);

  video {
    height: calc(100vh - 60px - 60px);
  }

  @media (max-width: em(1000px)) {
    height: 100%;
    video {
      height: 100%;
    }
  }
}

.mediaPlayerTheaterMode {
  height: 100vh;

  video {
    height: 100vh;
  }
  
  width: 100%;
 
}

.ganymedePoster {
  object-fit: contain;
}