.notificationRow {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.notificationRight {
  margin-top: 0.5rem;
  margin-left: auto;
  order: 2;
}
.link {
  color: var(--mantine-color-blue-6);
}