.header {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.right {
  margin-left: auto;
  order: 2
}
.vodDrawer {
  overflow-y: scroll;
}
.actionButton {
  cursor: pointer;
}
.actionButtons {
  display: flex;
}