.header {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.right {
  margin-left: auto;
  order: 2
}
.settingsSections {
  margin-top: var(--mantine-spacing-md);
}
.taskItem {
  display: flex;
  margin-bottom: 0.25rem;
}
.sectionHeader {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}